@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
}

button {
    background-color: rgba(239, 81, 53, 1);
    width: 100px;
    height: 40px;
    border: 0;
}

select {
    background-color: white;
    border: 0;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
}

header .wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-option ul {
    margin: 10px;
} 

.user-option ul li {
    display: inline-block;
}

nav {
    height: 50px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}
.left-navbar {
    float: left;
}

.right-navbar {
    float: right;
}

.navBar {
    color: azure;
    background-color: black;
}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navBar ul li a {
    padding: 15px;
    display: inline-block;
}

.category {
    background-color: rgba(239, 81, 53, 1);
}


.banner{
    background: url("http://via.placeholder.com/1200x400") no-repeat;
    background-size: cover;
    height: 400px;
}

.ad-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

div.ad-card:nth-child(odd) {
    width: 600px;
    margin-right: 5px;
}

div.ad-card:nth-child(even) {
    width: 600px;
    margin-left: 5px;
}

.ad-card {
    height: 280px;
    margin: 20px 0;
    background: url("http://via.placeholder.com/600x280") no-repeat;
    background-size: cover;
    
}

.ad-line {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

span.ad-line:nth-child(odd) {
    padding-top: 20px;
}

span.ad-line:nth-child(even) {
    padding-top: 10px;
}

.services {
    margin-top: 30px;
    margin-bottom: 30px;
}

.services .brandService {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.new-arrivals {
    margin: 20px 0;
    padding: 10px 0;
}

.new-arrivals-head {
    margin-bottom: 20px;
    font-size: 20px;
}

.new-arrivals .box {
    display: flex;
    justify-content: space-between;
}

.brands {
    margin: 20px 0;
}

.brand-logos {
    margin: 10px;
    display: flex;
    overflow: hidden;
}

footer {
    background-color: rgba(18, 18, 18, 1);
}

.top-footer {
    color: azure;
    background-color: rgba(239, 81, 53, 1);
    width: 100%;
}

.top-footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-footer button {
    background-color: rgba(18, 18, 18, 1);
    color: azure;
}

.top-footer ul {
    display: flex;
    list-style: none;

}

.top-footer ul li {
    padding: 2px;
}

.footer-links {
    color: azure;
    display: flex;
    justify-content: space-between;
}