@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
}

button {
    background-color: rgba(239, 81, 53, 1);
    width: 100px;
    height: 40px;
    border: 0;
}

select {
    background-color: white;
    border: 0;
}

.wrapper {
    margin: auto;
    max-width: 1200px;
}

header .wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-option ul {
    margin: 10px;
} 

.user-option ul li {
    display: inline-block;
}

.mob-user-option ul li{
    display: none;
}

nav {
    height: 50px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.left-navbar {
    float: left;
    display: flex;
}

.right-navbar {
    float: right;
}

.navBar {
    color: azure;
    background-color: black;
}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navBar ul li a {
    padding: 15px;
    display: inline-block;
}

.mobile-nav ul {
    display: none;
}

.category {
    background-color: rgba(239, 81, 53, 1);
}


.banner{
    background: url("http://via.placeholder.com/1200x400") no-repeat;
    background-size: cover;
    height: 400px;
    padding: 50px;
}

.banner-line {
    display: block;
    margin-bottom: 30px;
}

.banner-main-line {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

.ad-cards {
    display: flex;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.ad-card {
    margin: 20px 0;
    background: url("http://via.placeholder.com/600x280") no-repeat;
    background-size: cover;
    height: 280px;
    width: 600px;
}

div.ad-card:nth-child(odd) {
    margin-right: 5px;
}

div.ad-card:nth-child(even) {
    margin-left: 5px;
}

.ad-text {
    margin: 30px;
}

.ad-line {
    display: block;
    padding: 10px;
}

.services {
    margin-top: 30px;
    margin-bottom: 30px;
}

.services .brandService {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.new-arrivals {
    margin: 20px 0;
    padding: 10px 0;
}

.new-arrivals-head {
    margin-bottom: 20px;
    font-size: 20px;
}

.box {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    text-align: center;
}

.products {
    margin-right: 10px;
}

.products button {
    color: azure;
}

footer {
    background-color: rgba(18, 18, 18, 1);
}

.top-footer {
    color: azure;
    background-color: rgba(239, 81, 53, 1);
    width: 100%;
}

.top-footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-footer button {
    background-color: rgba(18, 18, 18, 1);
    color: azure;
}

.top-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.top-footer ul li {
    padding: 2px;
}

.footer-links {
    color: azure;
    display: flex;
    justify-content: space-between;
}

.footer-link-head {
    padding: 10px 0;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width:1300px) {
    .wrapper {
        max-width: 1000px;
    }
}   

@media screen and (max-width:1100px) {
    .wrapper {
        max-width: 700px;
    }
    .search-bar {
        display: none;
    }
    .res-nav-bar {
        display: none;
    }
    .mobile-nav ul {
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-option {
        display: none;
    }

    .mob-user-option ul {
        margin: 10px;
    } 
    
    .mob-user-option ul li {
        display: inline-block;
    }
}   

@media screen and (max-width:400px) {
    .wrapper {
        max-width: 350px;
    }

    .ad-cards {
        display: block;
    }

    .ad-cards .ad-card {
        width: 350px;
        height: 280px;
    }
    
    div.ad-card:nth-child(odd) {
        margin-right: 0;
    }
    
    div.ad-card:nth-child(even) {
        margin-left: 0;
    }

    .services .brandService {
        display: block;
    }

    .services hr {
        visibility: hidden;
    }

    .services .service-list {
        margin-bottom: 20px;
    }

    .top-footer .wrapper {
        display: block;
        text-align: center;
    }
}